/* body {
    min-width: 100vw;
    min-height: 100vh;
} */
.main {
    height: 95%;
    top: 0;
    
}
.control {
    height: 5%;
}
/* .quotes {
    height: 40%;
} */
#content {
    margin-top: calc(2em + 1vw);
    font-size: calc(15px + 1vw);
    line-height: calc(1.1em + 0.5vw);
}
#author {
    font-size: calc(12px + 1vw);;
}
#author:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10px;
}
/* .music {
    height: 45%;
} */
iframe {
    display: block;
}
.modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    width: 60%; 
    height: calc(350px - 25vh);
    min-height: 15%
}
#myUL li {
    display: none;
}
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
}
@media (min-width: 640px) { 
    #myUL li a {
        display: none;
    }
 }
