body {
    min-width: 100vw;
    min-height: 100vh;
    background-color:cyan;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.main {
    background-color: floralwhite;
    width: 100vmin;
    height: 100vmin;
}
.quotes {
    height: 40%;
}
#content {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}
#author {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
#author:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10px;
}
.music {
    height: 45%;
}
iframe {
    display: block;
}